/**
 * @ Author: Jbristhuille
 * @ Create Time: 2022-12-22 09:34:00
 * @ Description: App global styles
 */

/* SUMMARY
    * Variables
*/

/* Variables */
:root {
    --success-color: green;
    --danger-color: red;
    --warning-color: orange;
}
/***/