/**
 * @ Author: Jbristhuille
 * @ Create Time: 2022-12-24 15:00:00
 * @ Description: Message popup styles
 */

/* SUMMARY
*/

.wcs-message-popup {
    color: white;
    
    &.error {background-color: var(--danger-color);}
    &.success {background-color: var(--success-color);}
    &.warning {background-color: var(--warning-color);}
}