/**
 * @ Author: Jbristhuille
 * @ Create Time: 2022-12-25 18:32:20
 * @ Description: User profile page styles
 */

.wcs-profile {
    .wcs-profile-info {
        display: grid;
        grid-gap: 5px;
    
        .wcs-profile-avatar {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: solid 1px black;
            overflow: hidden;
        
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .wcs-profile-edit {
        .wcs-profile-edit-item {
            input {
                &.invalid {
                    border-color: var(--danger-color);
                }
            }
        }
    }
}