/**
 * @ Author: Jbristhuille
 * @ Create Time: 2022-12-25 12:01:32
 * @ Description: Ranking page styles
 */

.wcs-ranking {
    display: grid;
    grid-gap: 10px;

    .wcs-rank-item {
        padding: 5px;
        display: flex;
        gap: 10px;
        border: solid 1px black;
    }
}